<div *ngIf="isToastVisible$ | async">
  <app-toast></app-toast>
</div>

<div *ngIf="(compteDetails$ | async) as compteDetails" class="text-center max-w-xl mx-auto bg-white dark:bg-gray-800 rounded-xl shadow-md overflow-hidden mt-10">
  <div class="p-8">
    <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold dark:text-indigo-400">{{ accountType }}</div>
    <p class="mt-2 text-white"><span class="font-bold">Numéro de compte:</span> {{ compteDetails.accountNumber }}</p>
    <p class="mt-2 text-white"><span class="font-bold">Solde:</span> {{ compteDetails.balance }} €</p>
    <p class="mt-2 text-white"><span class="font-bold">Client: </span>{{ compteDetails.clientName }} {{ compteDetails.clientFirstname }}</p>
  </div>
</div>
