<div class="container mx-auto paddin p-4">
  <h1 class="text-3xl font-bold text-center">
    Comptes list
  </h1>

  <div *ngIf="isToastVisible$ | async">
    <app-toast></app-toast>
  </div>

  <div class="filters-container">
    <form [formGroup]="filterForm" [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="filter-by-clients-input">
      <label for="client" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sélectionnez un client</label>
      <select name="client" id="client" formControlName="client" (click)="fetchClientsLazy()">
        <option value="">--Veuillez choisir un Client--</option>
        <option *ngFor="let client of clients$ | async" [value]="client?.id">{{ client?.name }} {{ client?.firstName }}</option>
      </select>
      <button type="submit">Filtrer</button>
    </form>
  </div>

  <div *ngIf="(compteCourants$ | async)?.length === 0 && (comptesEpargnes$ | async)?.length === 0" class="text-center w-100 m-5">
    <h2>No data found</h2>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-5">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Numéro de compte
        </th>
        <th scope="col" class="px-6 py-3">
          Type de compte
        </th>
        <th scope="col" class="px-6 py-3">
          Solde en €
        </th>
        <th scope="col" class="px-6 py-3">
          Client
        </th>
        <th scope="col" class="px-6 py-3">
          Action
        </th>
      </tr>
      </thead>
      <tbody>
      <!-- Display CompteCourant accounts -->
      <ng-container *ngFor="let compteCourant of compteCourants$ | async">
        <tr *ngIf="selectedClientId === null || selectedClientId === compteCourant.clientId" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{compteCourant?.accountNumber}}
          </th>
          <td class="px-6 py-4">
            Compte Courant
          </td>
          <td class="px-6 py-4">
            {{compteCourant?.balance}}
          </td>
          <td class="px-6 py-4">
            {{compteCourant?.clientName}} {{compteCourant?.clientFirstname}}
          </td>
          <td class="flex flex-col text-center">
            <a [routerLink]="'/compte-details/' + compteCourant?.id + '/' + accountType" class="p-2 font-medium text-blue-600 hover:text-green-400">voir les détails</a>
            <a [routerLink]="'/virement/' + compteCourant?.id + '/' + accountType" class="p-2 font-medium text-blue-600 hover:text-green-400">Effectuer un virement</a>
          </td>
        </tr>
      </ng-container>

      <!-- Display CompteEpargne accounts -->
      <ng-container *ngFor="let compteEpargne of comptesEpargnes$ | async">
        <tr *ngIf="selectedClientId === null || selectedClientId === compteEpargne.clientId" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{compteEpargne?.accountNumber}}
          </th>
          <td class="px-6 py-4">
            Compte Epargne
          </td>
          <td class="px-6 py-4">
            {{compteEpargne?.balance}}
          </td>
          <td class="px-6 py-4">
            {{compteEpargne?.clientName}} {{compteEpargne?.clientFirstname}}
          </td>
          <td class="flex flex-col text-center">
            <a [routerLink]="'/compte-details/' + compteEpargne?.id + '/' + accountType" class="p-2 font-medium text-blue-600 hover:text-green-400">voir les détails</a>
            <a [routerLink]="'/virement/' + compteEpargne?.id + '/' + accountType" class="p-2 font-medium text-blue-600 hover:text-green-400">Effectuer un virement</a>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
