<div>
  <div>
    <h1>login</h1>
<!--    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">-->
<!--      <label for="mail">Mail</label>-->
<!--      <input type="mail" formControlName="mail" class="form-control" id="mail" placeholder="Mail">-->
<!--      <div class="form-group">-->
<!--        <label for="password">Password</label>-->
<!--        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">-->
<!--      </div>-->
<!--      <button type="submit">Se connecter</button>-->
<!--    </form>-->
  </div>
</div>
