<div class="fixed inset-0 flex items-center justify-center">
    <div class="fixed inset-0 backdrop-blur-md"></div>
    <!-- Main modal -->
    <div id="authentication-modal" tabindex="-1" aria-hidden="true"
         class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full flex items-center justify-center">
      <div class="relative w-full max-w-md max-h-full">
        <div class="relative w-full max-w-md max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" (click)="closeForm()"
                    class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="authentication-modal">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8 border border-white rounded-lg">
              <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Client Form</h3>
              <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">
  
                <div class="form-group">
                  <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
                  <input
                    type="text"
                    id="name"
                    formControlName="name"
                    placeholder="Enter le nom"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                  >
                  <!-- Display validation error messages if the field is invalid -->
                  <div *ngIf="!form.get('name')?.valid && form.get('name')?.touched" class="form-error-message">
                    <div *ngIf="form.get('name')?.hasError('required')">This field is required.</div>
                  </div>
                </div>
  
                <div class="form-group">
                  <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prénom</label>
                  <input
                    type="text"
                    id="firstName"
                    formControlName="firstName"
                    placeholder="Enter le prénom"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                  >
                  <!-- Display validation error messages if the field is invalid -->
                  <div *ngIf="!form.get('firstName')?.valid && form.get('firstName')?.touched" class="form-error-message">
                    <div *ngIf="form.get('firstName')?.hasError('required')">This field is required.</div>
                  </div>
                </div>
  
                <div class="form-group">
                  <label for="adress" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Adresse</label>
                  <input
                    type="text"
                    id="adress"
                    formControlName="adress"
                    placeholder="Entrez l'adresse"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                  >
                  <!-- Display validation error messages if the field is invalid -->
                  <div *ngIf="!form.get('adress')?.valid && form.get('adress')?.touched" class="form-error-message">
                    <div *ngIf="form.get('adress')?.hasError('required')">This field is required.</div>
                  </div>
                </div>
  
                <div class="form-group">
                  <label for="zipCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Code postale</label>
                  <input
                    type="text"
                    id="zipCode"
                    formControlName="zipCode"
                    placeholder="Entrez le code postale"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                  >
                  <!-- Display validation error messages if the field is invalid -->
                  <div *ngIf="!form.get('zipCode')?.valid && form.get('zipCode')?.touched" class="form-error-message">
                    <div *ngIf="form.get('zipCode')?.hasError('required')">This field is required.</div>
                  </div>
                </div>
  
                <div class="form-group">
                  <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ville</label>
                  <input
                    type="text"
                    id="city"
                    formControlName="city"
                    placeholder="Entrez votre ville"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                  >
                  <!-- Display validation error messages if the field is invalid -->
                  <div *ngIf="!form.get('city')?.valid && form.get('city')?.touched" class="form-error-message">
                    <div *ngIf="form.get('city')?.hasError('required')">This field is required.</div>
                  </div>
                </div>
  
                <div class="form-group">
                  <label for="telephone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Téléphone</label>
                  <input
                    type="text"
                    id="phoneNumber"
                    formControlName="phoneNumber"
                    placeholder="Entrez votre téléphone"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                  >
                  <!-- Display validation error messages if the field is invalid -->
                  <div *ngIf="!form.get('phoneNumber')?.valid && form.get('phoneNumber')?.touched" class="form-error-message">
                    <div *ngIf="form.get('phoneNumber')?.hasError('required')">This field is required.</div>
                  </div>
                </div>
  
                <div class="form-group" *ngIf="isCreateMode">
                  <label for="conseillerId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Conseiller</label>
                  <select
                    name="conseillerId"
                    id="conseillerId"
                    formControlName="conseillerId"
                    (click)="fetchConseillersLazy()"
                  >
                    <option value="">--Please choose a Conseiller--</option>
                    <option *ngFor="let conseiller of conseillers$ | async" [value]="conseiller?.id">{{ conseiller?.id }}</option>
                  </select>
                  <!-- Display validation error messages if the field is invalid -->
                  <div *ngIf="!form.get('conseillerId')?.valid && form.get('conseillerId')?.touched" class="form-error-message">
                    <div *ngIf="form.get('conseillerId')?.hasError('required')">This field is required.</div>
                  </div>
                </div>
  
                <button type="submit" [ngClass]="{
                    'default-button': !shouldShowErrorStyle(),
                    'error-button': shouldShowErrorStyle()
                  }"
                  [disabled]="form.invalid"
                  class="w-full hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  